body {
  padding: 0;
  margin: 0;
  font-family: "Times New Roman", Times, serif;
  color: white;
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  background-image: url("../images/2843425.jpg");
  background-size: cover;
  background-blend-mode: screen;
}

#root-screen {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: 9.7% repeat(3, minmax(0, 1fr));
  background-color: #223187;
  background-image: url("../images/as.png");
  background-size: cover;
  background-blend-mode: screen;
}

.container {
  width: 25rem;
  height: 25rem;
  background-color: rgb(26, 24, 27);
  border-radius: 30px;
  position: relative;
  padding: 10px 70px;
  box-sizing: border-box;
  align-items: center;
}

.input_form {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #cbc6c5;
  color: white;
  width: 100%;
  padding-top: 10px;
  font-size: 17px;
  outline: 0;
  transition: border 1.5s;
  order: 1;
}

.input_form:hover ~ .label_input {
  color: #c4c4c4;
}

.input_form:focus {
  border-color: rgb(29, 160, 172);
}

.label_input {
  color: #8e8e8e;
  order: 0;
  margin-top: 10px;
  pointer-events: none;
  transition: all 0.5s;
  position: absolute;
  font-size: 11pt;
}

.container_img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container_img img {
  width: 70px;
  height: 70px;
  border: 2px solid white;
  border-radius: 100%;
}

.container-input {
  display: grid;
  grid-template-rows: max-content max-content;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  grid-template-columns: 100%;
}

.grid {
  display: grid;
}

.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.grid-rows-3 {
  grid-template-rows: 20% repeat(2, minmax(0, 1fr)) 30%;
}

.grid-rows-4 {
  grid-template-rows: 20% repeat(3, minmax(0, 1fr)) 30%;
}

.gap {
  gap: 1rem;
}

.input_form:focus ~ .label_input,
.input_form:not(:placeholder-shown) + .label_input {
  font-size: 8pt;
  transform: translateY(-15px);
  color: rgb(29, 160, 172);
}

.input_form:focus,
.input_form:not(:placeholder-shown) {
  border-color: rgb(29, 160, 172);
  transition: padding 0.5s;
}

.error {
  border-color: #dd2c00 !important;
}
.error:not(:placeholder-shown) ~ .label_input {
  color: #dd2c00 !important;
}
.error:focus ~ .label_input {
  color: #dd2c00 !important;
}

.error-complaint {
  border-color: #f77d5f !important;
}
.error-complaint:not(:placeholder-shown) ~ .label_input {
  color: #f77d5f !important;
}
.error-complaint:focus ~ .label_input {
  color: #f77d5f !important;
}

.submit {
  width: 100%;
  border: 0;
  background-color: #46308a;
  border-radius: 20px;
  padding: 8px 0px;
  font-size: 13px;
  font-weight: bold;
  color: white;
  transition: all 0.7s;
}

.submit:hover {
  background-color: #6247b3;
}

.linko {
  transition: all 0.7s;
}

.linko:hover {
  color: #9192a2 !important;
  text-decoration: underline !important;
}
