{% extends "layouts/form.html" %}
{% from "components/input.html" import Input with context %}
{% from "components/button.html" import Button with context %}

{% block contentbody %}
<div class="container grid grid-cols-1 grid-rows-3">
    <div>
        {% if error != None %} 
          {% block content %}
            <div style="background-color: red; font-size: 50px">ERROR</div>
          {% endblock content %} 
        {% endif %}
      </div>
      {{ Input('Username', 'text', '63%') }}
      {{ Input('Password', 'password', '64%') }}
      {{ Button('Sign up', 'Register') }}
</div>
{% endblock %}