{% extends "layouts/form.html" %} {% block contentbody %}
{% from "components/input.html" import Input with context %}
{% from "components/button.html" import Button with context %}

<div class="container grid grid-cols-1 grid-rows-4" style="height: 30rem;">
  <div class="container_img translate">
    <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo">
  </div>
  {{ Input(form.username) }}
  {{ Input(form.email) }}
  {{ Input(form.password) }}
  {{ Button('Register', 'Login') }}
</div>
{% endblock %}