{% macro Complaint(complaint) %}
{% from "components/link.html" import Link with context %}

<div class="complaint-item">
    <div class="content-item">
        <label>Name:</label>
    </div>
    <div class="content-item">
        <span>{{ complaint['name'] }}</span>
    </div>
    <div class="content-item">
        <button><a href="https://jefry-bot-silver-acorn-7x9j4565gq4fww7v-3001.preview.app.github.dev/complaint/{{ complaint['id'] }}" style="color: white;">Detail</a></button>
    </div>
</div>

{% endmacro %}